.container{
    width: 90%;
    margin: 0 auto;
    padding: 7rem 0 2rem;
}

.crumbs{

}

.title{
    font-size: 1.8rem;

}
.img>img{
    width: 200px;
    height: auto;
}

.download{
    color: #2196f3;
    padding: 1rem 0 0;
    font-size: 16px;
}
.download:hover{
    text-decoration: underline;
    line-height: 2px;
}
.case{
    display: flex;
}

.text{
    margin: 1rem 0 0 2rem;
}

.descryption{
    padding-top: 2rem;
    font-size: 16px;
}
